@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Press+Start+2P&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Ubuntu', sans-serif;
	color: #fff;
}
html {
	font-size: 16px;
}
body {
	
}
:root {
	--nav-height:60px;	
	--icon-size:50px;
	--dark-green:#075e54;
	--lime:#25d366;
	--green: #128c7e;
	--light-lime:#dcf8c6;
	--blue:#34b7f1;
	--gray:#ece5dd;
}
